/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tajawal;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-offwhite: #fdfbf8;
  --color-vanilla: #f1eada;
  --color-mountain: #aaa396;
  --color-sand: #cec1a8;
  --color-tobacco: #b59e7d;
  --color-mahogany: #584738;
   --color-primary:#F9F7F2;
}
body {
  background: var(--back-ground, #FAF9F6) !important;
}


/* NAVBAR */

.main-navbar{
display:flex;
justify-content:space-between;
align-items:center;

width:100%;
height:75px;

padding:0 80px;
margin:auto;

position:sticky;
top:0;
z-index:1000;

background:#fff;
border-radius:0 0 20px 20px;

backdrop-filter:blur(8px);
}

.main-navbar.scrolled{
height:70px;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}


/* Logo */

.logo{
font-size:30px;
font-weight:600;
mix-blend-mode:multiply;
}

.logo img{
height:75px;
width:100%;
}


/* Links */

.nav-links{
display:flex;
gap:40px;

list-style:none;

position:absolute;
left:50%;
transform:translateX(-50%);
}

.nav-links a{
position:relative;

padding:6px 0;

color:#000;
text-decoration:none;

font:700 18px/33px 'Tajawal',sans-serif;

letter-spacing:.5px;

transition:.3s;
}

.nav-links a:hover{
color:#000;
}

.nav-links a::after{
content:"";

position:absolute;
left:0;
bottom:-5px;

width:0;
height:2px;

background:#000;

transition:.3s;
}

.nav-links a:hover::after{
width:100%;
}

.nav-links a.active{
color:#775A19;
}


/* Icons */

.navbar-icons{
display:flex;
align-items:center;
gap:15px;
}

.navbar-icons .icon{
font-size:20px;

color:#000;

cursor:pointer;

transition:.2s;
}

.navbar-icons .icon:hover{
transform:scale(1.2);
}



/*    hero    */
.hero{
    position: relative;
    
}
.hero img{
    width: 100%;
    height: 720px;
    object-fit: cover;
    padding: 16px;
    
}
.hero .text{
 position: absolute;
 bottom:65px ;
 Left:60px;
 color: #fff;
 text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.hero .text h1{
    font-size: 42px;
    margin-bottom: 4px;
}
.hero .text p{
    font-size: 14px;
    margin-left: 16px;
}


/*     cards     */

.cards{
margin: 64px auto;
}
.cards .card-horse{
    background-color: #f4f3f0;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    width: 95% !important;
    margin-bottom: 32px;
     transition: transform 0.3s ease;
}
.cards .card-horse:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.cards .card-horse img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    
}

.cards .card-horse .country{
    background-color: #775A19E5;
    color: #ffff;
    padding: 8px;
    top: 15px;
    left: 15px;
}
.cards .card-horse h3{
  font-weight: 400;
  display: flex;
    margin-left: 24px !important;
    text-align: left;
    color: #553722;
}
.cards .card-horse p{
    color: #50453E;
    display: flex;
    flex-direction: column;
    text-align: justify;
   padding: 16px;
   
}

.cards .card-horse .line {
    margin-top: auto;
    padding: 15px 20px;
    position: relative; 
    display: flex;
    justify-content: flex-start;
}


.cards .card-horse .line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.1); 
}

.cards .card-horse .line a {
    text-decoration: none;
    color: #775A19;
    font-weight: bold;
    font-size: 14px;
    margin:14px 14px 20px 14px;
}


.cards .card-horse a i{
 width: 9.333px;
height: 9.333px;
color: #775A19;
}


/*   footer    */

footer{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 8px 16px;
  margin-top: 32px;
  background: var(--Colors-Secondary-Alpha-10, rgba(206, 193, 168, 0.10));
 
}
footer .footer-logo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-logo img{
  width: 150px;
  height: 100px;
  mix-blend-mode: multiply;
}
footer .footer-logo p{
  font-size: 14px;
  text-align: justify;
  max-width: 350px;
  margin-left: 25px;
}


footer .footer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 8px;
  color: var(--Text-Color, #151411);
}

footer .footer-text .icon{
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  color: #22142E9E;
}
footer .inf-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-text h3{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--Text-Color, #151411);
}

footer .subscribe{
  display: flex;
  gap: 10px;
}
footer .footer-text input{
  border-radius: 16px;
  border: none;
  background:#ebe7e7;
  padding:8px;
  width: 300px;
}
footer .footer-text input:focus{
  outline: none;
  background: #fff ; 
  border-color: #775A19E5; 
  box-shadow: 0 0 5px #775A19E5;
}
footer .footer-text button{
  border-radius: 8px;
  background: var(--Colors-primary-500, #6A573C);
  color: #fff;
  padding: 8px;
  border: none;
  cursor: pointer;
}








/* ===== HAMBURGER MENU ===== */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

/* ===== TABLET: max-width 1024px ===== */
@media (max-width: 1024px) {
    .main-navbar {
        padding: 0 30px;
    }

   
    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        transform: translateY(-150%);
        transition: transform 0.4s ease;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        z-index: 999;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .menu-toggle {
        display: block; 
        order: 2;
    }
    
    .navbar-icons {
        order: 3;
    }

    

    /* (Breed Cards) */
    
    .card-article {
        width: 100% !important;
        max-width: 450px;
        margin: 15px auto;
    }
}

/* ===== MOBILE: max-width 768px ===== */
@media (max-width: 768px) {
    .main-navbar {
        padding: 0 15px;
    }
    
    .logo img {
        height: 55px;
    }

    /*  (Hero Section) */
    .hero img {
        height: 380px; 
        object-fit: cover;
    }
    .hero .text {
        bottom: 25px;
        left: 15px;
    }
    .hero .text h1 {
        font-size: 24px;
    }

    

    /* (Footer) */
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px 15px;
    }
    footer .footer-logo, footer .inf-footer {
        align-items: center;
    }
    footer .footer-logo p {
        margin-left: 0;
        text-align: center;
    }
    footer .subscribe {
        flex-direction: column;
        width: 100%;
    }
    footer .footer-text input {
        width: 100%;
    }
}